In [61]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df = pd.read_csv('Building_Permits.csv')

/home/martinpella/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [62]:
df.sample(5)

,S#,Date,Islamic Date,Blast Day Type,Holiday Type,Time,City,Latitude,Longitude,Province,...,Targeted Sect if any,Killed Min,Killed Max,Injured Min,Injured Max,No. of Suicide Blasts,Explosive Weight (max),Hospital Names,Temperature(C),Temperature(F)
120,121,Monday-September 22-2008,22 RamaDHaan 1429 A.H,Working Day,NaN,NaN,swat,35.2227,72.4258,KPK,...,None,9.0,13.0,2.0,3,1.0,NaN,NaN,21.005,69.809
229,230,Thursday-December 17-2009,30 Thw al-Hijjah 1430 A.H,Working Day,NaN,NaN,bannu,32.9861,70.6042,KPK,...,None,NaN,0.0,NaN,0,1.0,NaN,NaN,6.315,43.367
56,57,Sunday-August 19-2007,6 SHa`baan 1428 A.H,Holiday,Weekend,NaN,bannu,32.9861,70.6042,KPK,...,None,NaN,1.0,NaN,4,1.0,NaN,NaN,29.965,85.937
342,343,Thursday-February 16-2012,NaN,Working Day,NaN,NaN,upper dir,35.1977,71.8749,FATA,...,None,1.0,1.0,3.0,3,1.0,NaN,NaN,4.985,40.973
156,157,Wednesday-March 11-2009,14 Raby` al-awal 1430 A.H,Working Day,NaN,NaN,peshawar,34.0043,71.5448,KPK,...,None,4.0,5.0,NaN,6,1.0,NaN,Lady Reading Hospital,18.375,65.075

In [6]:
df.shape

(198900, 43)

In [8]:
df.isnull().sum()

Permit Number                                  0
Permit Type                                    0
Permit Type Definition                         0
Permit Creation Date                           0
Block                                          0
Lot                                            0
Street Number                                  0
Street Number Suffix                      196684
Street Name                                    0
Street Suffix                               2768
Unit                                      169421
Unit Suffix                               196939
Description                                  290
Current Status                                 0
Current Status Date                            0
Filed Date                                     0
Issued Date                                14940
Completed Date                            101709
First Construction Document Date           14946
Structural Notification                   191978
Number of Existing Stories                 42784
Number of Proposed Stories                 42868
Voluntary Soft-Story Retrofit             198865
Fire Only Permit                          180073
Permit Expiration Date                     51880
Estimated Cost                             38066
Revised Cost                                6066
Existing Use                               41114
Existing Units                             51538
Proposed Use                               42439
Proposed Units                             50911
Plansets                                   37309
TIDF Compliance                           198898
Existing Construction Type                 43366
Existing Construction Type Description     43366
Proposed Construction Type                 43162
Proposed Construction Type Description     43162
Site Permit                               193541
Supervisor District                         1717
Neighborhoods - Analysis Boundaries         1725
Zipcode                                     1716
Location                                    1700
Record ID                                      0
dtype: int64

In [9]:
missing_values_count = df.isnull().sum()

In [10]:
missing_values_count[:10]

Permit Number                  0
Permit Type                    0
Permit Type Definition         0
Permit Creation Date           0
Block                          0
Lot                            0
Street Number                  0
Street Number Suffix      196684
Street Name                    0
Street Suffix               2768
dtype: int64

In [11]:
total_cells = np.product(df.shape)
total_missing = missing_values_count.sum()

In [12]:
(total_missing/total_cells) * 100

26.26002315058403

In [17]:
df[['Street Number Suffix', 'Zipcode']].sample(10)

       Street Number Suffix  Zipcode
109266                  NaN  94131.0
137646                  NaN  94110.0
47063                   NaN  94124.0
51966                   NaN  94105.0
144497                  NaN  94123.0
185934                  NaN  94110.0
102706                  NaN  94110.0
908                     NaN  94123.0
94020                   NaN  94110.0
79724                   NaN  94104.0

In [19]:
df['Street Number Suffix'].value_counts()

A    1501
B     291
V     228
C      56
E      28
F      24
G      12
D      11
H      11
K      11
L      10
R      10
J       9
I       7
P       3
N       2
0       1
Â½       1
Name: Street Number Suffix, dtype: int64

In [20]:
df.dropna()

Empty DataFrame
Columns: [Permit Number, Permit Type, Permit Type Definition, Permit Creation Date, Block, Lot, Street Number, Street Number Suffix, Street Name, Street Suffix, Unit, Unit Suffix, Description, Current Status, Current Status Date, Filed Date, Issued Date, Completed Date, First Construction Document Date, Structural Notification, Number of Existing Stories, Number of Proposed Stories, Voluntary Soft-Story Retrofit, Fire Only Permit, Permit Expiration Date, Estimated Cost, Revised Cost, Existing Use, Existing Units, Proposed Use, Proposed Units, Plansets, TIDF Compliance, Existing Construction Type, Existing Construction Type Description, Proposed Construction Type, Proposed Construction Type Description, Site Permit, Supervisor District, Neighborhoods - Analysis Boundaries, Zipcode, Location, Record ID]
Index: []

[0 rows x 43 columns]

In [22]:
df_cols_na_dropped = df.dropna(axis=1)

In [23]:
df_cols_na_dropped.shape

(198900, 12)

In [24]:
df.shape

(198900, 43)

In [27]:
df.columns

Index(['Permit Number', 'Permit Type', 'Permit Type Definition',
       'Permit Creation Date', 'Block', 'Lot', 'Street Number',
       'Street Number Suffix', 'Street Name', 'Street Suffix', 'Unit',
       'Unit Suffix', 'Description', 'Current Status', 'Current Status Date',
       'Filed Date', 'Issued Date', 'Completed Date',
       'First Construction Document Date', 'Structural Notification',
       'Number of Existing Stories', 'Number of Proposed Stories',
       'Voluntary Soft-Story Retrofit', 'Fire Only Permit',
       'Permit Expiration Date', 'Estimated Cost', 'Revised Cost',
       'Existing Use', 'Existing Units', 'Proposed Use', 'Proposed Units',
       'Plansets', 'TIDF Compliance', 'Existing Construction Type',
       'Existing Construction Type Description', 'Proposed Construction Type',
       'Proposed Construction Type Description', 'Site Permit',
       'Supervisor District', 'Neighborhoods - Analysis Boundaries', 'Zipcode',
       'Location', 'Record ID'],
      dtype='object')

In [29]:
df[['Street Number', 'Street Number Suffix', 'Street Name', 'Zipcode']][:10]

   Street Number Street Number Suffix Street Name  Zipcode
0            140                  NaN       Ellis  94102.0
1            440                  NaN       Geary  94102.0
2           1647                  NaN     Pacific  94109.0
3           1230                  NaN     Pacific  94109.0
4            950                  NaN      Market  94102.0
5            800                  NaN     Indiana  94107.0
6           1291                  NaN        11th  94122.0
7           1465                  NaN      Revere  94124.0
8           2094                  NaN        Fell  94117.0
9             89                  NaN      Alpine  94117.0

In [30]:
df.fillna(0, axis=0)[['Street Number', 'Street Number Suffix', 'Street Name', 'Zipcode']][:10]

   Street Number Street Number Suffix Street Name  Zipcode
0            140                    0       Ellis  94102.0
1            440                    0       Geary  94102.0
2           1647                    0     Pacific  94109.0
3           1230                    0     Pacific  94109.0
4            950                    0      Market  94102.0
5            800                    0     Indiana  94107.0
6           1291                    0        11th  94122.0
7           1465                    0      Revere  94124.0
8           2094                    0        Fell  94117.0
9             89                    0      Alpine  94117.0

In [34]:
df.loc[df['Zipcode'].isnull(),:]

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
452,M866367,8,otc alterations permit,12/13/2017,0552,017,2550,NaN,Gough,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1490471235302
464,M845627,8,otc alterations permit,10/18/2017,5286A,021,2241,NaN,Jerrold,Av,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1490955510104
577,M364427,8,otc alterations permit,01/02/2013,0779,028,1235,NaN,Mcallister,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,129220681682
731,201301047237,8,otc alterations permit,01/04/2013,6515,017,1387,NaN,Valencia,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1292365379064
864,201301077331,8,otc alterations permit,01/07/2013,3706,095,55,NaN,04th,St,...,1.0,constr type 1,1.0,constr type 1,NaN,NaN,NaN,NaN,NaN,1292500249105
1108,M365447,8,otc alterations permit,01/09/2013,0476,004C,1062,NaN,Francisco,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1292750266803
1183,201301097598,8,otc alterations permit,01/09/2013,0241,003,600,NaN,California,St,...,1.0,constr type 1,1.0,constr type 1,NaN,NaN,NaN,NaN,NaN,1292828296599
1215,201301097623,8,otc alterations permit,01/09/2013,3569,083,88,NaN,Hoff,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1292862381155
1258,M365770,8,otc alterations permit,01/10/2013,0052,018,2230,NaN,Mason,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,129290556774
1486,201301117832,8,otc alterations permit,01/11/2013,3995,025,2068,NaN,03rd,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1293150380316
1489,201301117835,8,otc alterations permit,01/11/2013,3995,025,2068,NaN,03rd,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1293153380316
1494,M366247,8,otc alterations permit,01/11/2013,3705,001,815,NaN,Market,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1293158359420
1664,M366528,8,otc alterations permit,01/15/2013,4017,001,535,NaN,Florida,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1293337380207
1823,201301168111,8,otc alterations permit,01/16/2013,0235,006,27,NaN,Drumm,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1293497359319
1961,201301178212,8,otc alterations permit,01/17/2013,4081,011B,737,NaN,Florida,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1293642264149
2024,201301188262,8,otc alterations permit,01/18/2013,3534,033,277,NaN,Clinton,Pk,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1293707157123
2111,201301188338,8,otc alterations permit,01/18/2013,0779,013A,988,NaN,Fulton,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,129380081667
2546,201301248720,8,otc alterations permit,01/24/2013,6635,007,3346,NaN,Mission,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1294269374323
2850,201301298975,4,sign - erect,01/29/2013,1098,044,2200,NaN,Ofarrell,St,...,1.0,constr type 1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1294579367068
3033,201301309132,8,otc alterations permit,01/30/2013,1444,037,340,NaN,Funston,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1294771388552
3066,201301319165,8,otc alterations permit,01/31/2013,0779,013A,988,NaN,Fulton,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,129480681667
3138,M369148,8,otc alterations permit,01/31/2013,3793,001,88,NaN,King,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1294881386778
3342,201302049395,3,additions alterations or repairs,02/04/2013,1742,035,1200,NaN,09th,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1295093112511
3501,201302059527,8,otc alterations permit,02/05/2013,0855,015,11,NaN,Haight,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1295263291089
4003,201302119924,3,additions alterations or repairs,02/11/2013,1539,001,4131,NaN,Geary,Bl,...,1.0,constr type 1,1.0,constr type 1,NaN,NaN,NaN,NaN,NaN,1295782103434
4075,201302129989,4,sign - erect,02/12/2013,0766,007,180,NaN,Redwood,St,...,2.0,constr type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1295856290717
4084,M371027,8,otc alterations permit,02/12/2013,3986,012,165,NaN,Texas,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1295865390363
4186,201302120074,8,otc alterations permit,02/12/2013,0817,002,301,NaN,Gough,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1295972380791
4253,M371390,8,otc alterations permit,02/13/2013,1040,030,330,NaN,Arguello,Bl,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1296040238981
4339,M371507,8,otc alterations permit,02/14/2013,3540,022,2242,NaN,15th,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1296130246818
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196659,201802050419,8,otc alterations permit,02/05/2018,0726,019,1425,NaN,Fillmore,St,...,1.0,constr type 1,1.0,constr type 1,NaN,NaN,NaN,NaN,NaN,1495985367815
196661,201802050421,8,otc alterations permit,02/05/2018,0726,019,1410,NaN,Steiner,St,...,1.0,constr type 1,1.0,constr type 1,NaN,NaN,NaN,NaN,NaN,1495987367814
196990,201802070684,8,otc alterations permit,02/07/2018,4081,011B,727,NaN,Florida,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1496346249619
196991,201802070684,8,otc alterations permit,02/07/2018,4081,011B,731,NaN,Florida,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1496347264146
197086,201802080752,8,otc alterations permit,02/08/2018,3779,091,39,NaN,Boardman,Pl,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1496447167516
197143,201802080802,8,otc alterations permit,02/08/2018,1595,035,778,NaN,Great,Hy,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1496507243588
197441,201802121045,1,new construction,02/12/2018,0405,007,900,NaN,Beach,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"(37.80839250874325, -122.4237836956073)",149683770127
197458,201802121056,8,otc alterations permit,02/12/2018,1434,003,313,NaN,02nd,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,149685599591
197565,201802131137,8,otc alterations permit,02/13/2018,3648,059,276,A,Fair Oaks,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1496972509743
197691,201802141236,8,otc alterations permit,02/14/2018,1222,036,245,NaN,Central,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1497104240539
197693,201802141236,8,otc alterations permit,02/14/2018,1222,036,255,NaN,Central,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1497106267345
197743,M889429,8,otc alterations permit,02/14/2018,3542,069,773,NaN,14th,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1497160510635
197855,201802151368,8,otc alterations permit,02/15/2018,6562,038,4220,NaN,Cesar Chavez,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1497278252051
198047,201802161529,8,otc alterations permit,02/16/2018,3723,001,175,NaN,04th,St,...,1.0,constr type 1,1.0,constr type 1,NaN,NaN,NaN,NaN,NaN,1497480484383
198293,M891247,8,otc alterations permit,02/20/2018,0547,012,2444,NaN,Van Ness,Av,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149773873905
198814,201802232132,8,otc alterations permit,02/23/2018,0567,011,1940,NaN,Broadway,NaN,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,149826974642
198886,201709066971,3,additions alterations or repairs,09/06/2017,0999,025,3191,NaN,Washington,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1477559238559
198887,201710040362,8,otc alterations permit,10/04/2017,0750,001,1521,NaN,Eddy,St,...,1.0,constr type 1,1.0,constr type 1,NaN,NaN,NaN,NaN,NaN,1482126434174
198888,201710110995,8,otc alterations permit,10/11/2017,0726,019,1410,NaN,Steiner,St,...,1.0,constr type 1,1.0,constr type 1,NaN,NaN,NaN,NaN,NaN,1483035367814
198889,201710242114,8,otc alterations permit,10/24/2017,1654,035,748,NaN,12th,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1484587273155
198890,201711274822,3,additions alterations or repairs,11/27/2017,3803,001,185,NaN,Berry,St,...,1.0,constr type 1,1.0,constr type 1,NaN,NaN,NaN,NaN,NaN,1488352388160
198891,201711274844,8,otc alterations permit,11/27/2017,0766,008,590,NaN,Van Ness,Av,...,3.0,constr type 3,3.0,constr type 3,NaN,NaN,NaN,NaN,NaN,148838081446
198892,201712045380,8,otc alterations permit,12/04/2017,1180,021,1543,NaN,Mcallister,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,148916691540
198893,201712055472,8,otc alterations permit,12/05/2017,1000,014,3018,NaN,Clay,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1489281258414
198894,201712055493,8,otc alterations permit,12/05/2017,3522,006,340,NaN,12th,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1489308256860
198895,M862628,8,otc alterations permit,12/05/2017,0113,017A,1228,NaN,Montgomery,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489337276729
198896,201712055595,8,otc alterations permit,12/05/2017,0271,014,580,NaN,Bush,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,NaN,NaN,NaN,NaN,1489462354993
198897,M863507,8,otc alterations permit,12/06/2017,4318,019,1568,NaN,Indiana,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489539379952
198898,M863747,8,otc alterations permit,12/06/2017,0298,029,795,NaN,Sutter,St,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489608233656
198899,M864287,8,otc alterations permit,12/07/2017,0160,006,838,NaN,Pacific,Av,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1489796283803

In [37]:
df[['Zipcode']][452:470]

     Zipcode
452      NaN
453  94123.0
454  94107.0
455  94114.0
456  94107.0
457  94103.0
458  94131.0
459  94109.0
460  94110.0
461  94118.0
462  94123.0
463  94110.0
464      NaN
465  94118.0
466  94114.0
467  94103.0
468  94112.0
469  94118.0

In [38]:
df.fillna(method = 'bfill', axis=0).fillna(0)[['Zipcode']][452:470]

     Zipcode
452  94123.0
453  94123.0
454  94107.0
455  94114.0
456  94107.0
457  94103.0
458  94131.0
459  94109.0
460  94110.0
461  94118.0
462  94123.0
463  94110.0
464  94118.0
465  94118.0
466  94114.0
467  94103.0
468  94112.0
469  94118.0

In [ ]:
df_copy = df.copy()

In [39]:
import fuzzywuzzy

ModuleNotFoundError: No module named 'fuzzywuzzy'

In [41]:
import fuzzywuzzy
from fuzzywuzzy import process
import chardet

/home/martinpella/anaconda3/lib/python3.6/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [42]:
df = pd.read_csv('PakistanSuicideAttacks_November17.csv', encoding='Windows-1252')

In [43]:
df.shape

(496, 26)

In [44]:
df.head()

,S#,Date,Islamic Date,Blast Day Type,Holiday Type,Time,City,Latitude,Longitude,Province,...,Targeted Sect if any,Killed Min,Killed Max,Injured Min,Injured Max,No. of Suicide Blasts,Explosive Weight (max),Hospital Names,Temperature(C),Temperature(F)
0,1,Sunday-November 19-1995,25 Jumaada al-THaany 1416 A.H,Holiday,Weekend,NaN,Islamabad,33.7180,73.0718,Capital,...,None,14.0,15.0,NaN,60,2.0,NaN,NaN,15.835,60.503
1,2,Monday-November 6-2000,10 SHa`baan 1421 A.H,Working Day,NaN,NaN,Karachi,24.9918,66.9911,Sindh,...,None,NaN,3.0,NaN,3,1.0,NaN,NaN,23.770,74.786
2,3,Wednesday-May 8-2002,25 safar 1423 A.H,Working Day,NaN,7:45 AM,Karachi,24.9918,66.9911,Sindh,...,Christian,13.0,15.0,20.0,40,1.0,2.5 Kg,1.Jinnah Postgraduate Medical Center 2. Civil ...,31.460,88.628
3,4,Friday-June 14-2002,3 Raby` al-THaany 1423 A.H,Working Day,NaN,11:10:00 AM,Karachi,24.9918,66.9911,Sindh,...,Christian,NaN,12.0,NaN,51,1.0,NaN,NaN,31.430,88.574
4,5,Friday-July 4-2003,4 Jumaada al-awal 1424 A.H,Working Day,NaN,NaN,Quetta,30.2095,67.0182,Baluchistan,...,Shiite,44.0,47.0,NaN,65,1.0,NaN,1.CMH Quetta \n2.Civil Hospital 3. Boland Medi...,33.120,91.616

In [45]:
df.columns

Index(['S#', 'Date', 'Islamic Date', 'Blast Day Type', 'Holiday Type', 'Time',
       'City', 'Latitude', 'Longitude', 'Province', 'Location',
       'Location Category', 'Location Sensitivity', 'Open/Closed Space',
       'Influencing Event/Event', 'Target Type', 'Targeted Sect if any',
       'Killed Min', 'Killed Max', 'Injured Min', 'Injured Max',
       'No. of Suicide Blasts', 'Explosive Weight (max)', 'Hospital Names',
       'Temperature(C)', 'Temperature(F)'],
      dtype='object')

In [47]:
cities = df['City'].unique()

In [48]:
cities.sort()

In [49]:
cities

array(['ATTOCK', 'Attock ', 'Bajaur Agency', 'Bannu', 'Bhakkar ', 'Buner',
       'Chakwal ', 'Chaman', 'Charsadda', 'Charsadda ', 'D. I Khan',
       'D.G Khan', 'D.G Khan ', 'D.I Khan', 'D.I Khan ', 'Dara Adam Khel',
       'Dara Adam khel', 'Fateh Jang', 'Ghallanai, Mohmand Agency ',
       'Gujrat', 'Hangu', 'Haripur', 'Hayatabad', 'Islamabad',
       'Islamabad ', 'Jacobabad', 'KURRAM AGENCY', 'Karachi', 'Karachi ',
       'Karak', 'Khanewal', 'Khuzdar', 'Khyber Agency', 'Khyber Agency ',
       'Kohat', 'Kohat ', 'Kuram Agency ', 'Lahore', 'Lahore ',
       'Lakki Marwat', 'Lakki marwat', 'Lasbela', 'Lower Dir', 'MULTAN',
       'Malakand ', 'Mansehra', 'Mardan', 'Mohmand Agency',
       'Mohmand Agency ', 'Mohmand agency', 'Mosal Kor, Mohmand Agency',
       'Multan', 'Muzaffarabad', 'North Waziristan', 'North waziristan',
       'Nowshehra', 'Orakzai Agency', 'Peshawar', 'Peshawar ', 'Pishin',
       'Poonch', 'Quetta', 'Quetta ', 'Rawalpindi', 'Sargodha',
       'Sehwan town', 'Shabqadar-Charsadda', 'Shangla ', 'Shikarpur',
       'Sialkot', 'South Waziristan', 'South waziristan', 'Sudhanoti',
       'Sukkur', 'Swabi ', 'Swat', 'Swat ', 'Taftan',
       'Tangi, Charsadda District', 'Tank', 'Tank ', 'Taunsa',
       'Tirah Valley', 'Totalai', 'Upper Dir', 'Wagah', 'Zhob', 'bannu',
       'karachi', 'karachi ', 'lakki marwat', 'peshawar', 'swat'],
      dtype=object)

In [51]:
len(cities)

93

In [50]:
df['City'] = df['City'].str.lower()
df['City'] = df['City'].str.strip()

In [52]:
cities = df['City'].unique()
cities.sort()
cities

array(['attock', 'bajaur agency', 'bannu', 'bhakkar', 'buner', 'chakwal',
       'chaman', 'charsadda', 'd. i khan', 'd.g khan', 'd.i khan',
       'dara adam khel', 'fateh jang', 'ghallanai, mohmand agency',
       'gujrat', 'hangu', 'haripur', 'hayatabad', 'islamabad',
       'jacobabad', 'karachi', 'karak', 'khanewal', 'khuzdar',
       'khyber agency', 'kohat', 'kuram agency', 'kurram agency',
       'lahore', 'lakki marwat', 'lasbela', 'lower dir', 'malakand',
       'mansehra', 'mardan', 'mohmand agency',
       'mosal kor, mohmand agency', 'multan', 'muzaffarabad',
       'north waziristan', 'nowshehra', 'orakzai agency', 'peshawar',
       'pishin', 'poonch', 'quetta', 'rawalpindi', 'sargodha',
       'sehwan town', 'shabqadar-charsadda', 'shangla', 'shikarpur',
       'sialkot', 'south waziristan', 'sudhanoti', 'sukkur', 'swabi',
       'swat', 'taftan', 'tangi, charsadda district', 'tank', 'taunsa',
       'tirah valley', 'totalai', 'upper dir', 'wagah', 'zhob'],
      dtype=object)

In [53]:
len(cities)

67

In [54]:
matches = fuzzywuzzy.process.extract('d.i khan', cities, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

In [55]:
matches

[('d. i khan', 100),
 ('d.i khan', 100),
 ('d.g khan', 88),
 ('khanewal', 50),
 ('sudhanoti', 47),
 ('hangu', 46),
 ('kohat', 46),
 ('dara adam khel', 45),
 ('chaman', 43),
 ('mardan', 43)]

In [56]:
close_matches = [m[0] for m in matches if m[1] >= 90]

In [57]:
close_matches

['d. i khan', 'd.i khan']

In [58]:
rows_with_matches = df['City'].isin(close_matches)

In [59]:
rows_with_matches

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
466    False
467    False
468    False
469    False
470    False
471    False
472    False
473    False
474    False
475    False
476    False
477    False
478    False
479    False
480    False
481    False
482    False
483    False
484    False
485    False
486    False
487    False
488    False
489    False
490    False
491    False
492    False
493    False
494    False
495    False
Name: City, Length: 496, dtype: bool

In [60]:
df.loc[rows_with_matches, 'City'] = 'd.i khan'